<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
<script src="https://kit.fontawesome.com/b5af52c74f.js" crossorigin="anonymous"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_Zc5AFeBhwbtAjm5JKVfCS");
   })();
</script>
<script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
i.src = "https://cdn.curator.io/published/41ba390f-bfb0-41d3-8d1f-60edb5895100.js";
e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>
<main id='root'>Soul Funk</main>