.form-div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}

.form {
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #FF6001;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 20px 0 20px 0;
}

.form > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.form > label {
  height: 12%;
  width: 80%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 20px;
}

.form > label > input {
  border-radius: 10px;
  background: #D3D3D3;
  height: 35px;
  font-size: 20px;
  padding: 0 3% 0 3%;
}

.form > label > select {
  border-radius: 10px;
  background: #D3D3D3;
  height: 35px;
  font-size: 20px;
  padding: 0 3% 0 3%;
}

.form > label > textarea {
  border-radius: 10px;
  background: #D3D3D3;
  height: 100px;
  font-size: 20px;
  padding: 2% 3% 2% 3%;
}

.form > div {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 12%;
  justify-content: space-between;
}

.form > div > input {
  height: 80%;
  font-size: 20px;
}

.form  > div > img {
  display: none;
}

.form > button {
  height: 50px;
  width: 80%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6001;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.button {
  height: 10%;
  width: 80%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6001;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#text-label {
  height: 25%;
  width: 80%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 30px;
}

@media (min-width: 400px){
  .form-div {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
  }

  .form {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #FF6001;
    background: #f7f7f7;
    border-radius: 10px;
  }

  .form > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }

  .form > label {
    height: 12%;
    width: 80%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 20px;
  }

  .form > label > input {
    border-radius: 10px;
    background: #D3D3D3;
    height: 40px;
    font-size: 20px;
    padding: 0 3% 0 3%;
  }

  .form > label > select {
    border-radius: 10px;
    background: #D3D3D3;
    height: 40px;
    font-size: 20px;
    padding: 0 3% 0 3%;
  }

  .form > label > textarea {
    border-radius: 10px;
    background: #D3D3D3;
    height: 100px;
    font-size: 20px;
    padding: 2% 3% 2% 3%;
  }

  .form > button:hover, .button:hover {
    background: #fc7d33;
    color: white;
  }

  .form  > div > img {
    display: static;
    height: 50px;
    width: auto;
  }

  .button {
    width: 40%;
  }
}