.form-div {
  height: 56vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #FF6001;
  background: #f7f7f7;
  border-radius: 10px;
}

.form > label {
  border: 1px solid black;
  height: 10%;
  width: 80%;
  margin: 5%;
}

.form > button {
  border: 1px solid blue;
  height: 10%;
  width: 80%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}