@font-face {
  font-family: 'Bellbottom';
  src: font-url('..fonts/Bellbottomlaser-GKwg.ttf');
}

.nav-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.nav-ul > li {
  font-family: Bellbottom;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 20%;
  cursor: pointer;
}