@font-face {
  font-family: 'Bellbottom';
  src: font-url('..fonts/Bellbottomlaser-GKwg.ttf');
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: #676767;
}

.nav-logo {
  background-image: url(image_path('logo.png'));
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 30vh;
  height: 20vh;
  z-index: 2;
}

.nav-drop {
  display: flex;
  justify-content: left;
  height: 100vh;
  z-index: 3;
}

.nav-bars {
  position: absolute;
  left: 8vw;
  top: 8vh;
  z-index: 4;
  cursor: pointer;
}

.nav-ul > li .nav-bars:hover {
  display: flex;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 85%;
  height: 100%;
  border: 1px solid blue;
}

.nav-li {
  border: 1px solid purple;
  z-index: 3;
  display: flex;
  font-family: Bellbottom;
  font-size: 5vh;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 65%;
  height: 15%;
  cursor: pointer;
  border-radius: 20px;
  background-image: linear-gradient(#FFB183, #FF6002);
}

.nav-ul > li:hover {
  color: white;
}



.nav-ulshow {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #565656;
  z-index: 4;
}