.page-banner {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

.page-banner > img {
  width: 90%;
}

.band-description {
  display: flex;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: gray;
  height: 25vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0 100px 0;
}

.band-description > p {
  width: 90%;
  letter-spacing: 5px;
  border-top: 5px solid black;
  padding: 50px 0 50px 0;
  border-bottom: 5px solid black;
}

.home-insta {
  padding: 50px 0 50px 0;
}

.home-shows {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 0 0 20px 0;
}

@media (min-width: 400px) {
  .page-banner {
    height: 30vh;
  }

  .band-description {
    margin: 0 0 50px 0;
  }

}

@media (min-width: 1200px) {
  .page-banner {
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: bottom;
    align-items: center;
    margin: 0 auto;
  }

  .page-banner > img {
    height: auto;
    width: 100%;
  }

  .band-description {
    font-size: 30px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 100px 0 100px 0;
  }

  .band-description > p {
    width: 50%;
    height: auto;
  }
}