.page-banner {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

.page-banner > img {
  width: 90%;
}

.band-description {
  display: flex;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: gray;
  height: 20vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0 100px 0;
}

.band-description > p {
  width: 90%;
  letter-spacing: 5px;
  border-top: 5px solid black;
  padding: 50px 0 50px 0;
  border-bottom: 5px solid black;
}

.home-insta {
  padding: 50px 0 50px 0;
}

.home-shows {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 20px 0 20px 0;
}

.home-shows > div {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-shows > div > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 60%;
  border-bottom: 1px solid gray;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 400px) {
  .page-banner {
    width: 75%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0 0 0;
  }

  .page-banner > img {
    height: auto;
    width: 90%;
  }

  .band-description {
    font-size: 30px;
    width: 75%;
    margin: 0 auto;
    padding: 100px 0 100px 0;
  }

  .home-shows {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 0 0 20px 0;
  }

  .home-shows > div {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-shows > div > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 60%;
    border-bottom: 1px solid gray;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}