@font-face {
  font-family: Bellbottom;
  src:url('/assets/BellBottom.Laser 5.ttf');
  font-weight: normal;
  font-style: normal;
}

.full-band-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.member-full-band {
  width: 100%;
  margin: 0 auto;
  opacity: 0.8;
}

.full-band-text {
  font-family: Bellbottom;
  font-size: 160px;
  position: absolute;
  background: -webkit-linear-gradient(#FF6002, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
}

.member-li-true {
  width: 90%;
  margin: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.member-li-false {
  width: 90%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.member-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.member-name {
  font-family: Bellbottom;
  font-size: 80px;
}

.member-bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.member-photo {
  width: 50%;
  // margin: 0 auto;
  border-radius: 20px;
  border: 2px solid black;
}

.members-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px 0 50px 0;
}