@font-face {
  font-family: Bellbottom;
  src:url('/assets/BellBottom.Laser 5.ttf');
  font-weight: normal;
  font-style: normal;
}

.member-li-true, .member-li-false {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.member-li-false > div > div {
  right: 0;
}

.member-li-false > div > img {
  float: left;
}

.member-li-false > div > img {
  left: 0;
}


.member-li-true > div > div, .member-li-false > div > div {
  position: relative;
}

.member-name {
  font-family: Bellbottom;
  font-size: xx-large;
}

.member-bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
}

.member-photo {
  width: auto;
  height: 175px;
  border-radius: 20px;
  border: 2px solid black;
}

.members-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px 0 30px 0;
}

.member-update {
  background: green;
  width: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.member-delete {
  background: red !important;
}

.member-admin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.add-member-div {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #FF6001;
  width: 90%;
  border-radius: 10px;
}

.add-member-button {
  width: 90%;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bellbottom;
  font-size: 80px;
  -webkit-text-stroke: 3px black;
}

.add-member {
  display: flex;
  justify-content: center;
}

@media (min-width: 400px) {
  .member-li-true, .member-li-false {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    margin: 0 auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .member-photo {
    width: auto;
    height: 250px;
    border-radius: 20px;
    border: 2px solid black;
  }
}