@font-face {
  font-family: Bellbottom;
  src:url('/assets/BellBottom.Laser 5.ttf');
  font-weight: normal;
  font-style: normal;
}

.show-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-content > div, .home-shows > div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-content > div > h2, .home-shows > div > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 80%;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shows-index {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.shows-index > li {
  height: 25vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 20px;
}

.shows-index > li > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

@media (min-width: 400px){

  .show-content > h2 {
    font-family: Bellbottom;
    font-size: 50px;
    width: 70%;
    border-bottom: 1px solid gray;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-content > ul {
    width: 100%;
  }

  .shows-index > li {
    height: 25vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 20px;
  }
}